{
  "SUPABASE_URL": "https://nhuoziavgyxtcutmygtl.supabase.co",
  "SUPABASE_PUBLISHABLE_KEY": "sb_publishable_0dTO5gPz68bTVW_2xxrs1A_t7qjZk_r",
  "GOOGLE_WEB_CLIENT_ID": "",
  "GOOGLE_MAPS_API_KEY": "",
  "FIREBASE_SENDER_ID": ""
}
